<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- Ruta -->
      <app-breadcrumb [title]="'Caja'" [items]="[]" [active_item]="'Egresos'"></app-breadcrumb>
    </div>
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="task-module">
              <div class="task-header" style="justify-content: space-between; align-items: center">
                <div class="task-title">
                  <h2>Total de egresos: {{ totalMontoEgreso }}</h2>
                </div>
                <div></div>
              </div>
              <app-egreso-tabla></app-egreso-tabla>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
