.extended-fab {
  position: relative;
}

.extended-fab span {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  opacity: 0;
  transition: opacity 0.3s;
}

.extended-fab:hover span {
  opacity: 1;
}
