<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="egresosForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Concepto</mat-label>
            <input matInput formControlName="concepto" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
            @if (egresosForm.get('concepto')?.hasError('required')) {
            <mat-error>
              Debe crearse un concepto
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Monto de Egreso</mat-label>
            <input matInput formControlName="monto_egreso" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>business_center</mat-icon>
            @if (egresosForm.get('monto_egreso')?.hasError('required')) {
            <mat-error>
              El monto es requerido
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fecha de Pago</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha_egreso">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (egresosForm.get('fecha_egreso')?.hasError('required')) {
            <mat-error>
              Ingrese una fecha válida
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Medio de Pago</mat-label>
            <input matInput formControlName="medio_de_egreso" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>school</mat-icon>
            @if (egresosForm.get('medio_de_egreso')?.hasError('required')) {
            <mat-error>
              Medio de pago es requerido
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!egresosForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
